body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    padding-top: 200px;
}

nav {
    width: 100%;
    left: 0;
    position: fixed;
    top: 0;
    padding: 10px 20px;
    z-index: 1000;         
    background-color: dodgerblue;
}

nav ul {
  display: flex;
}

nav ul li {
  list-style: none;
}

nav li a {
  text-decoration: none;
}

nav ul li {
  padding-top: 5px;
}

.container, nav ul {
    width: 90%;
    margin: 0 auto;
    padding: 10px;
    flex-direction: column;
    justify-content: space-between;
}

@media (min-width: 768px) {
  body {
    padding-top: 60px;
  }
  .container, nav ul {
    width: 80%;
    flex-direction: row;
    justify-content: space-between;
  }
  nav ul li {
    padding: 0;
  }
}

@media (min-width: 1024px) {
  .container, nav ul {
      max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container, nav ul {
      max-width: 1140px;
  }
}

main {
  margin: 20px 0;
  padding: 15px;
}

footer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 10px;
}

footer div {
  display: flex;
}

footer div, time, a {
  flex: 1;
} 

footer > div img {
  width: 25%;
}

footer > div a {
  align-self: center;
}

footer time {
  text-align: center;
}
